{% load static i18n %}

<section class="container-fluid bg-dark bg-gradient">
    <div class="row pt-3">
        <div class="col d-flex justify-content-center">
            <div class="mt-3 d-inline">
                <h5 class="select-none">{% trans 'Contacts' %}</h5>
                <div class="d-inline-flex">
                    <span class="footer-span">Email:</span>
                    <a class="footer-link link-info ps-1">info@yodco.org</a>
                </div>
                <p class="mt-1">{% trans 'Address' %}: Tytusa Chałubińskiego 8, 00-613 Warszawa</p>
            </div>
        </div>
        <div class="col d-flex justify-content-center">
            <div class="mt-3 d-inline-block text-center">
                <h5 class="select-none">{% trans 'Company' %}</h5>
                <a class="footer-link select-none" href="{% url 'about' %}">{% trans 'About' %}</a>
                <a class="footer-link select-none" href="{% url 'games' %}">{% trans 'Games' %}</a>
            </div>
        </div>
        <div class="col d-flex justify-content-center select-none">
            <div class="mt-4 middle select-none">
                <a class="soc-btn select-none" href="https://www.facebook.com/ringssaga" target="_blank">
                    <i class="bi bi-facebook select-none"></i>
                </a>
                <a class="soc-btn select-none" href="https://www.linkedin.com/company/yodco-development-llc/about/?viewAsMember=true" target="_blank">
                    <i class="bi bi-linkedin select-none"></i>
                </a>
                <a class="soc-btn select-none" href="https://twitter.com/yodcomedia" target="_blank">
                    <i class="bi bi-twitter select-none"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <h6 class="select-none">© YODCOMEDIA 2023</h6>
    </div>
</section>