{% extends 'main/layout.html' %}
{% load static i18n %}

{% block title %}{{ title }}{% endblock %}

{% block content-top %}
    <div class="video">
        <video data-object-fit="" autoplay="" muted="" playsinline="" loop="" src="{% static 'main/video/index.mp4' %}"></video>
    </div>
    <div id="top-banner">
        <div id="top-label-one" class="text-nowrap">
            <h1 class="text-center">{% trans 'Odkryj świat nieskończonych możliwości gier z Yodco' %}</h1>
        </div>
        <div id="top-label-two" class="wrap">
            <h3 class="text-start">
                {% trans 'Zanurz się w świecie ekscytujących i ekscytujących gier mobilnych stworzonych przez Yodco. Ekscytujące przygody, wymagające łamigłówki i niekończąca się rozrywka na wyciągnięcie ręki. Przygotuj się na przeniesienie wrażeń z gry na wyższy poziom dzięki Yodco.' %}
            </h3>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row mt-3">
            <div class="col" >
                <div id="dark_card" class="div">
                    <div class="shadow" role="button" onclick="location.href='{% url 'games' %}';">
                        <span class="glow"></span>
                        <div class="bg-dark bg-gradient text-center">
                            <span>Yodco</span>
                            {% trans  'UWOLNIJ MOC GIER MOBILNYCH' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-6">
                <div class="row">
                    <div class="col text-wrap">
                        <h1 class="text-center">
                            {% trans 'Wyróżnij się z tłumu dzięki opatentowanej mechanice gry' %}
                        </h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-wrap">
                        <h3 class="text-center">
                            {% trans 'Na zatłoczonym rynku ważne jest, aby oferować coś wyjątkowego. Dzięki Yodco możesz promować gry zawierające autorskie mechaniki, dzięki czemu Twoja gra wyróżni się na tle konkurencji. Daj się zauważyć i dotrzyj do większej liczby graczy dzięki innowacyjnym funkcjom gier.' %}
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-6 d-flex justify-content-center" >
                <img class="img-fluid index-image shadow select-none for-img" src="{% static 'main/img/marginalia-coming-soon.png' %}">
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-6 d-flex justify-content-center">
                <img class="img-fluid index-image shadow select-none for-img" src="{% static 'main/img/marginalia-online-shopping.png' %}">
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col text-wrap">
                        <h1 class="text-center">
                            {% trans 'Poszerz swoje horyzonty w grach dzięki klejnotom z Europy Wschodniej' %}
                        </h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-wrap">
                        <h3 class="text-center">
                            {% trans 'Odkryj świat wyjątkowych i ekscytujących gier stworzonych przez utalentowanych programistów z Europy Wschodniej. Od wciągającej opowieści po innowacyjną rozgrywkę – starannie dobrana oferta Yodco sprawi, że poczujesz się jak nigdy dotąd.' %}
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-6">
                <div class="row">
                    <div class="col text-wrap">
                        <h1 class="text-center">
                            {% trans 'Podnieś poziom swojej gry dzięki wciągającym kreacjom' %}
                        </h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-wrap">
                        <h3 class="text-center">
                            {% trans 'Wyróżnij się na zatłoczonym rynku dzięki przyciągającym wzrok kreacjom zaprojektowanym w celu promowania Twojej gry mobilnej. Od kampanii w mediach społecznościowych po reklamy ukierunkowane — Yodco dysponuje wszystkimi narzędziami i wiedzą, których potrzebujesz, aby pomóc Ci ulepszyć promocję gier i dotrzeć do nowych odbiorców.' %}
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-6 d-flex justify-content-center" >
                <img class="img-fluid index-image shadow select-none for-img" src="{% static 'main/img/marginalia-order-complete.png' %}">
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}

{% endblock %}