{% extends 'main/layout.html' %}
{% load static i18n %}

{% block title %}{{ title }}{% endblock %}

{% block content-top %}
    <div class="top-video">
        <video data-object-fit="" autoplay="" muted="" playsinline="" loop="" src="{% static 'main/video/550x1920.mp4' %}"></video>
        <div id="top-banner">
            <div id="top-label-one">
                <h1 class="text-start">{% trans "Discover a world of endless gaming possibilities with Yodco" %}</h1>
            </div>
            <div class="d-none d-xxl-block" id="top-label-two">
                <h3>
                    {% trans "Immerse yourself in the world of thrilling and thrilling mobile games created by Yodco. Exciting adventures, challenging puzzles and endless entertainment at your fingertips. Get ready to take your gaming experience to the next level with Yodco." %}
                </h3>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row pt-5">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col text-wrap">
                        <h1 class="text-center">
                            {% trans "Stand out from the crowd thanks to patented game mechanics" %}
                        </h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-wrap">
                        <h3 class="text-center">
                            {% trans "In a crowded market, it's important to offer something unique. With Yodco, you can promote games with proprietary mechanics, making your game stand out from the competition. Get noticed and reach more players with innovative gaming features." %}
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 d-flex justify-content-center">
                 <div class="dark_card div">
                     <div role="button" onclick="location.href='{% url 'games' %}';">
                         <span class="glow"></span>
                         <div class="bg-dark bg-gradient">
                             <img class="img-fluid index-image" src="{% static 'main/img/marginalia-coming-soon.png' %}">
                         </div>
                     </div>
                 </div>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-lg-6 d-flex justify-content-center my-order">
                <div class="dark_card div">
                     <div role="button" onclick="location.href='{% url 'games' %}';">
                         <span class="glow"></span>
                         <div class="bg-dark bg-gradient">
                             <img class="img-fluid index-image" src="{% static 'main/img/marginalia-online-shopping.png' %}">
                         </div>
                     </div>
                 </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col text-wrap">
                        <h1 class="text-center">
                            {% trans "Expand your gaming horizons with Eastern European gems" %}
                        </h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-wrap">
                        <h3 class="text-center">
                            {% trans "Discover a world of unique and exciting games created by talented developers from Eastern Europe. From engaging storytelling to innovative gameplay, Yodco's carefully curated offering will make you feel like you've never felt before." %}
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-5 pb-5">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col text-wrap">
                        <h1 class="text-center">
                            {% trans "Level up your game with immersive creations" %}
                        </h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-wrap">
                        <h3 class="text-center">
                            {% trans "Stand out in a crowded marketplace with eye-catching creatives designed to promote your mobile game. From social media campaigns to targeted advertising, Yodco has all the tools and expertise you need to help you improve your game promotion and reach new audiences." %}
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 d-flex justify-content-center" >
                <div class="dark_card div">
                     <div role="button" onclick="location.href='{% url 'games' %}';">
                         <span class="glow"></span>
                         <div class="bg-dark bg-gradient">
                             <img class="img-fluid index-image" src="{% static 'main/img/marginalia-order-complete.png' %}">
                         </div>
                     </div>
                 </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}

{% endblock %}